@use './mixin--animation-user-action' as animationUX;
@use './mixin--text' as text;
@use './charte' as charte;

/**
 * @mixin button
 */
@mixin button($style: ' ') {
  display: inline-flex;
  align-items: center;
  padding: 1.5rem 4rem;
  @include text.font-size(2.3);
  @include text.line-height(3.5);
  font-weight: text.$fontWeightNormal;
  text-decoration: none;
  border: solid 0.3rem charte.$primaryColor;
  border-radius: 3rem;
  cursor: pointer;
  outline-color: #aaa;
  outline-offset: 0;
  outline-style: dotted;


  @if $style == 'secondary' {
    @include animationUX.hover(background, transparent, charte.$primaryColor);
    @include animationUX.hover(color, charte.$whiteColor, charte.$whiteColor);
    @include animationUX.hover(border-color, charte.$primaryColor, charte.$primaryColor);
    @include animationUX.active(opacity, 1, 0.8);
    @include animationUX.focus(outline-width, 0, 0.1rem);
  } @else {
    @include animationUX.hover(background, transparent, charte.$primaryColor);
    @include animationUX.hover(color, charte.$blackColor, charte.$blackColor);
    @include animationUX.hover(border-color, charte.$primaryColor, charte.$primaryColor);
    @include animationUX.active(opacity, 1, 0.8);
    @include animationUX.focus(outline-width, 0, 0.1rem);
  }
}
