a {
  padding: 0;
  font-weight: text.$fontWeightNormal;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  @include animationUX.hover(background, transparent, transparent);
  @include animationUX.hover(color, charte.$primaryColor, charte.$primaryDarkerColor, '& > i, & > span, & > p');
  @include animationUX.user-action-all(text-decoration, none, none);
}
